canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.dialog .MuiDialog-container .MuiPaper-root:first-child {
  max-width: unset !important;
  /* border-radius: 10px !important; */
  /* border: solid #CCC 2px !important; */
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(45deg,
      #fff,
      #fff 3px,
      #fcfcfc 3px,
      #fcfcfc 6px);
}

#bgText {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 20em;
  color: #fff;
  font-weight: bolder;
  user-select: none;
}

.unselectable {
  user-select: none;
}